
<style>
    .modal-header{
    background: #2563EB !important;
    color: white;
    }
</style>

<div class="modal fade" id="createHopdong" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Xác nhận Tạo hợp đồng</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <h5>Bạn có chắc chắn muốn tạo Hợp đồng với Phiếu đặt chỗ này?</h5>
                <small class="text-muted">Hợp đồng mới sẽ được tạo và trạng thái của xe sẽ thay đổi</small>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button class="btn btn-primary" asp-action="Create"><i class="bi bi-check-circle"></i> Tạo hợp đồng</button>
            </div>
        </div>
    </div>
</div>