@model IEnumerable<bikey.Models.NguoiDung>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Quản lý người dùng";
}
@section Styles {
    <link rel="stylesheet" href="/css/nguoidung/index.css" asp-append-version="true" />
}

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            document.querySelectorAll(".tab-item").forEach(tab => {

                tab.addEventListener("click", function () {

                    document.querySelectorAll(".tab-item")
                        .forEach(t => t.classList.remove("active"))

                    document.querySelectorAll(".tab-content")
                        .forEach(c => c.classList.remove("active"))

                    this.classList.add("active")

                    const id = this.getAttribute("data-tab")
                    document.getElementById(id).classList.add("active")

                })

            })

        })
    </script>
}

<!-- Top Header -->
<div class="top-header">
    <h1 class="mb-0"><i class="bi bi-people"></i> Quản Lý Người dùng</h1>
    <div>
        <a asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Thêm người dùng
        </a>
    </div>
</div>

<div class="wrapper">

    <div class="container-fluid">

        <!-- TAB -->
        <div class="tab-wrapper">
            <div class="tab-item active" data-tab="roleTab">Theo loại tài khoản</div>
            <div class="tab-item" data-tab="userTab">Theo tài khoản</div>
        </div>

        <!-- ROLE TAB -->
        <div id="roleTab" class="tab-content active">
            <div class="per-table">
                <table class="table-per table table-hover mb-0">
                    <thead class="table-primary">
                        <tr>
                            <th class="sticky-col">Quyền</th>
                            <th>Quản trị viên</th>
                            <th>Nhân viên</th>
                            <th>Khách hàng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @* ql xe *@
                        <tr class="group-row">
                            <td colspan="4"><i class="bi bi-scooter"></i> Quản lý xe</td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Xem</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Tạo xe mới</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Sửa thông tin xe</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Xóa xe</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>

                        @* ql loại xe *@
                        <tr class="group-row">
                            <td colspan="4"><i class="bi bi-tags"></i> Quản lý loại xe</td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Xem</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Tạo loại xe mới</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Sửa thông tin loại xe</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Xóa loại xe</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>

                        @* ql hình ảnh xe *@
                        <tr class="group-row">
                            <td colspan="4"><i class="bi bi-images"></i> Quản lý hình ảnh xe</td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Xem</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Thêm hình ảnh cho xe</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Sửa hình ảnh của xe</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Xóa hình ảnh của xe</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>

                        @* ql hợp đồng *@
                        <tr class="group-row">
                            <td colspan="4"><i class="bi bi-receipt"></i> Quản lý hợp đồng</td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Xem</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Tạo hợp đồng mới</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Sửa thông tin hợp đồng</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Xóa hợp đồng</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">In hợp đồng</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>

                        @* ql hóa đơn *@
                        <tr class="group-row">
                            <td colspan="4"><i class="bi bi-receipt-cutoff"></i> Quản lý hóa đơn</td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Xem</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Tạo hóa đơn mới</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Sửa thông tin hóa đơn</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Xóa hóa đơn</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">In hóa đơn</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>

                        @* ql banner *@
                        <tr class="group-row">
                            <td colspan="4"><i class="bi bi-badge-ad"></i> Quản lý banner</td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Xem</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Tạo banner mới</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Sửa thông tin banner</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Xóa banner</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>

                        @* ql người dùng *@
                        <tr class="group-row">
                            <td colspan="4"><i class="bi bi-people"></i> Quản lý người dùng</td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Xem</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Tạo người dùng mới</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Sửa thông tin người dùng</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Xóa người dùng</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>

                        @* ql báo cáo thống kê *@
                        <tr class="group-row">
                            <td colspan="4"><i class="bi bi-bar-chart-line"></i> Quản lý báo cáo & thống kê</td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Xem báo cáo</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Xem thống kê</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col">In báo cáo</td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>

                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle"></i> Lưu quyền</button>
            </div>
        </div>

        <!-- USER TAB -->
        <div id="userTab" class="tab-content">

            <div class="user-table">
                <table class="table table-hover mb-0">
                    <thead class="table-primary">
                        <tr>
                            <th>ID</th>
                            <th>Họ tên</th>
                            <th>Email</th>
                            <th>Vai trò</th>
                            <th>Trạng thái</th>
                            <th>Ngày tạo</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @* @foreach (var user in Model)
                        { *@
                        <tr>
                            <td>#1</td>
                            <td>tên</td>
                            <td>gmail@gnail.com</td>
                            <td>
                                <span class="role-badge role-admin">
                                    Quản trị
                                </span>
                            </td>
                            <td>
                                <span class="status-badge status-inactive">
                                    Khóa
                                </span>
                            </td>
                            <td>12/12/1212</td>
                            <td>
                                <a asp-action="Edit" class="btn btn-warning btn-sm btn-action" title="Sửa"><i
                                        class="bi bi-pencil"></i></a>
                                <a asp-action="Permission" class="btn btn-info btn-sm btn-action"
                                    title="Quản lý quyền"><i class="bi bi-shield-check"></i></a>
                            </td>
                        </tr>

                        <tr>
                            <td>#1</td>
                            <td>tên</td>
                            <td>gmail@gnail.com</td>
                            <td>
                                <span class="role-badge role-staff">
                                    Nhân viên
                                </span>
                            </td>
                            <td>
                                <span class="status-badge status-active">
                                    Khóa
                                </span>
                            </td>
                            <td>12/12/1212</td>
                            <td>
                                <a asp-action="Edit" class="btn btn-warning btn-sm btn-action" title="Sửa"><i
                                        class="bi bi-pencil"></i></a>
                                <a asp-action="Permission" class="btn btn-info btn-sm btn-action"
                                    title="Quản lý quyền"><i class="bi bi-shield-check"></i></a>
                                @* @if (user.Id != int.Parse(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value))
                                    { *@
                                @* <form asp-action="Delete" method="post" style="display:inline" onsubmit="return confirm('Bạn có chắc chắn muốn xóa người dùng này?');">
                                            @Html.AntiForgeryToken() *@
                                <button type="submit" class="btn btn-danger btn-sm btn-action" title="Xóa"><i
                                        class="bi bi-trash"></i></button>
                                @* </form> *@
                                @* } *@
                            </td>
                        </tr>

                        <tr>
                            <td>#1</td>
                            <td>tên</td>
                            <td>gmail@gnail.com</td>
                            <td>
                                <span class="role-badge role-user">
                                    Khách hàng
                                </span>
                            </td>
                            <td>
                                <span class="status-badge status-active">
                                    Khóa
                                </span>
                            </td>
                            <td>12/12/1212</td>
                            <td>
                                <a asp-action="Edit" class="btn btn-warning btn-sm btn-action" title="Sửa"><i
                                        class="bi bi-pencil"></i></a>
                                <a asp-action="Permission" class="btn btn-info btn-sm btn-action"
                                    title="Quản lý quyền"><i class="bi bi-shield-check"></i></a>
                                @* @if (user.Id != int.Parse(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value))
                                    { *@
                                @* <form asp-action="Delete" method="post" style="display:inline" onsubmit="return confirm('Bạn có chắc chắn muốn xóa người dùng này?');">
                                            @Html.AntiForgeryToken() *@
                                <button type="submit" class="btn btn-danger btn-sm btn-action" title="Xóa"><i
                                        class="bi bi-trash"></i></button>
                                @* </form> *@
                                @* } *@
                            </td>
                        </tr>
                        @* } *@
                    </tbody>
                </table>
            </div>

        </div>


    </div>


    <!-- Thông báo -->
    <div id="userAlert" style="position:fixed;top:20px;right:20px;z-index:9999;min-width:300px;"></div>
</div>
</div>
