/* order card */
.order-card {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: all 0.3s;
    border: 1px solid rgb(194, 194, 194);
}

.order-card:hover {
    border-color: #667eea;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.order-number {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.order-date {
    color: #666;
    font-size: 16px;
}

.status-badge {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    background: #fcd969;
    color: #0f0c03;
}

.order-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 15px;
}

.info-group {
    border-left: 3px solid #007bff;
    padding-left: 15px;
}

.info-label {
    color: #666;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.info-value {
    color: black;
    font-size: 28px;
    font-weight: 500;
}

.order-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}

.order-actions .btn {
    height: 45px;
    padding: 0px 20px;
}

.btn-process {
    background: #2563EB;
    border: none;
    color: white;
}

.btn-process:hover {
    background: #0e349c;
    color: white;
}

.btn-cancel {
    background: #dc3545;
    color: white;
    border: none;
}

.btn-cancel:hover {
    background: #c82333;
    color: white;
}