@page
@model bikey.Pages.Xe.DaXoa.IndexModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Xe đã xóa";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/xedaxoa.css" asp-append-version="true" />
    <link href="~/css/components/alert-box.css" rel="stylesheet" asp-append-version="true">
}


<div class="top-header">
    <h1><i class="bi bi-trash2"></i> Xe đã xóa</h1>
    <div>
        <a asp-action="Index" asp-controller="Xe" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i> Quay lại quản lý xe
        </a>
    </div>
</div>

<div class="wrapper">
    <div class="container-fluid">

        <div class="card-body">
            <partial name="_XeTablePartial" model="new XeTablePartialModel { Items = Model.XeDaXoa, Variant = XeTableVariant.DaXoa }" />
        </div>
    </div>

</div>
@section Alerts {
    @if (TempData["XeManagementSuccess"] is string successMessage)
    {
        <alert-box type="success" closable="true" title="Thành công">
            @successMessage
        </alert-box>
    }
}
