.top-header {
    padding: 20px 50px;
}

.wrapper {
    padding: 0px 50px;
    margin-bottom: 30px;
}

.container-fluid {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 30px;
}

/* filter */
.filter-section {
    margin-bottom: 30px;
}

/* table */
.table {
    table-layout: fixed;
}

.table td,
.table th {
    vertical-align: middle;
}

.status-badge {
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #155724;
    background: rgb(199, 234, 187, 0.5);
}